@import url('https://fonts.googleapis.com/css2?family=Allan&family=Baloo+2:wght@800&family=Fira+Sans&display=swap');

:root{
    --sand: #F0E5CF;
    --white: #F7F6F2;
    --black: #191919;
    --darker-red: #9B0000;
    --dark-red: #CD1818;
    --red: #DC000E;
    --shine-red: #F90716;
    --orange: #FF6C1A;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: var(--black);
}

body, button, input, select, textarea{
    font-family: 'Fira Sans', sans-serif;
    color: var(--white)
}

h2{
    font-size: 20px;
}

/*define a margem e o enchimento da fonte*/
h1, h2{
    margin: 0;
    font-weight: 400;
}

p {
    color: var(--white);
}

button{
    background: var(--dark-red);
    border: 0;
    border-radius: 30px;
    padding: 5px 8px;
    color: var(--white);
    font-weight: bold;
    font-size: 23px;
    font-family:'Baloo 2', cursive;
    border: 4px solid var(--shine-red);
}

header{
    /* background:blue; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img{
    display:none;
}

/*define os parâmetros do h1, que está dentro de container, que está dentro de header*/
header .container h1{
    font-size: 90px;
    font-family: 'Allan', cursive;
    color: var(--shine-red);
    padding: 9px;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 75px;
    /* background: var(--sand); */
    padding: 0 100px;
    position: sticky; /*deixa a nav fixa na parte superior da tela*/
    top: 0;

}

nav ul a{
    font-size: 24px;
    color: var(--sand);
    text-decoration: none;
    margin: 0 35px;
}

nav ul a svg{
    display: none;
}

.about-me{
    display: flex;
    text-align: center;
    padding: 100px;
}

.about-me .container{
    width: 30%;
    padding-right: 60px;
}

.about-me .img-container{   
    position: relative;
}

.about-me .img-container img{
    width: 200px ;
    height: 280px;
    margin-left: 200px;
}

.about-me .img-container .line {
    width: 250px;
    height: 300px;
    border: 3px solid var(--shine-red);

    position: absolute;
    top: -12px;
    left: -25px;
    margin-left: 200px;
}

.about-me .img-container .line.red{
    transform:rotate(6.36deg);
    border: 3px solid var(--darker-red);
}

.services h1{
    font-size: 40px;
    text-align: center;
    color: var(--shine-red);
    margin-bottom: 100px;
    margin-top: 100px;
}

.services .container{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.services .container .serv1{
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    width: 282px;
    height: 281px;
    left: 54px;
    top: 100px;
    background: #191919;
    border: 2px solid #9B0000;
    border-radius: 23px;
    text-align: center;   
}

.services .container .serv1 .icone{
    color:var(--orange)
}

.services .container .serv2{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    width: 282px;
    height: 281px;
    left: 54px;
    top: 100px;
    background: #191919;
    border: 2px solid #9B0000;
    border-radius: 23px;
    text-align: center;
}

.services .container .serv2 .icone{
    color:var(--orange)
}

.services .container .serv3{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    width: 282px;
    height: 281px;
    left: 54px;
    top: 100px;
    background: #191919;
    border: 2px solid #9B0000;
    border-radius: 23px;
    text-align: center;
}

.services .container .serv3 .icone{
    color:var(--orange)
}

.portfolio h1{
    font-size: 40px;
    text-align: center;
    color: var(--red    );
    margin-top: 200px;
    margin-bottom: 100px;
}

.portfolio .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.portfolio .container .quadrado1{
    box-sizing: border-box;
    width: 271px;
    height: 430px;
    left: 51px;
    top: 1921px;
    background: url(servidores.jpg);
    border: 4px solid var(--orange);
    border-radius: 10px;
    text-align: center;
}
.portfolio .container .quadrado1 img{
    display: flex;
    width:180px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid var(--darker-red);

}

.portfolio .container .quadrado2{
    box-sizing: border-box;
    width: 271px;
    height: 430px;
    left: 51px;
    top: 1921px;
    background: url(servidores.jpg);
    border: 4px solid var(--orange);
    border-radius: 10px;
    text-align: center;
}

.portfolio .container .quadrado2 img{
    display: flex;
    width:180px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid var(--darker-red);
}

.portfolio .container .quadrado3{
    box-sizing: border-box;
    width: 271px;
    height: 430px;
    left: 51px;
    top: 1921px;
    background: url(servidores.jpg);
    border: 4px solid var(--orange);
    border-radius: 10px;
    text-align: center;
}

.portfolio .container .quadrado3 img{
    display: flex;
    width:180px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid var(--darker-red);
}




/*Resposividade para tablet*/
@media(max-width:767px){

    header .container{
        width: 30%;
        position: relative;
    }
    
    header .container img{
        height: 110px;
        margin-bottom: 90px;
    }
    nav img{
        display:none; 
    }

    
}

/* Quando a tela for abaixo de 480px*/
@media (max-width: 480px){

    header .container{
        padding: 0 48px;
    }

    nav{
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 13px;        
    }

    nav ul a svg{
        display:block;

    }
    .about-me .img-container img{
        width: 300px ;
        height: 350px;
        position: absolute;
        margin-left: 300px;        
    }
    
    .about-me .img-container .line {
        width: 315px;
        height: 370px;
        border: 3px solid var(--shine-red);
        position: absolute;
        margin-left: 300px;
        top:  -9px;
        left: -10px;
    }
}

