@import url('https://fonts.googleapis.com/css2?family=Allan&family=Baloo+2:wght@800&family=Fira+Sans&display=swap');

:root{
    --sand: #F0E5CF;
    --white: #F7F6F2;
    --black: #191919;
    --darker-red: #9B0000;
    --dark-red: #CD1818;
    --red: #DC000E;
    --shine-red: #F90716;
    --orange: #FF6C1A;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: var(--black);
}

body, button, input, select, textarea{
    font-family: 'Fira Sans', sans-serif;
    color: var(--white)
}

h2{
    font-size: 20px;
}

/*define a margem e o enchimento da fonte*/
h1, h2{
    margin: 0;
    font-weight: 400;
}

p {
    color: var(--white);
}

button{
    background: var(--dark-red);
    border: 0;
    border-radius: 30px;
    padding: 5px 8px;
    color: var(--white);
    font-weight: bold;
    font-size: 23px;
    font-family:'Baloo 2', cursive;
    border: 4px solid var(--shine-red);
}

header{
    /* background:blue; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container{
    position: relative;
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img{
    display: none;
}

/*define os parâmetros do h1, que está dentro de container, que está dentro de header*/
header .container h1{
    font-size: 90px;
    font-family: 'Allan', cursive;
    color: var(--shine-red);
    padding: 9px;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 50px;
    position: sticky;
    top: 0;
    margin-bottom: 100px;
    z-index: 1;

}

nav .svg{
    display: none;
}

nav img{
    height: 90px;
}

nav ul a{
    font-size: 24px;
    color: var(--sand);
    text-decoration: none;
    margin: 0 35px;
}


.about-me{
    display: flex;
    text-align: center;
    padding: 20px;
}

.about-me .container{
    flex-direction: row;
    width: 50%;
    margin-top: 100px ;
    padding-right: 60px;
}

.about-me .container h1{
    font-size: 40px;
    color: var(--shine-red)   
}

.about-me .img-container{  
    flex-direction: row;
    margin-left: 50px;
    position: relative;
}

.about-me .img-container .imagem{
    height: 350px;
    width: 300px;
    margin-left: 88px;
    margin-top: -45px;

}

.about-me .img-container .imagem img{
    width: 70%;
    height: 90%;
    margin-right: 60px;
    margin-top: -110px;
}

.about-me .img-container .retangulos{
    height: 360px;
    width: 305px;
    margin-left: 50px;
}

.about-me .img-container .retangulos img{
    width: 100%;
    height: 100%;
    margin-top: 56%;

}

.services h1{
    font-size: 40px;
    text-align: center;
    color: var(--shine-red);
    margin-bottom: 100px;
    margin-top: 100px;
}

.services .container{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.services .container .serv1{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    width: 282px;
    height: 285px;
    left: 54px;
    top: 100px;
    background: #191919;
    border: 2px solid #9B0000;
    border-radius: 23px;
    text-align: center;   
}

.services .container .serv1 .icone{
    color:var(--orange);
}

.services .container .serv1 p{
    height: 60%;
}

.services .container .serv2{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    width: 282px;
    height: 285px;
    left: 54px;
    top: 100px;
    background: #191919;
    border: 2px solid #9B0000;
    border-radius: 23px;
    text-align: center;
}

.services .container .serv2 .icone{
    color:var(--orange)
}

.services .container .serv2 p{
    height: 60%;
}

.services .container .serv3{
    display:flex;
    flex-direction: column;
    box-sizing: border-box; 
    width: 282px;
    height: 285px;
    left: 54px;
    top: 100px;
    background: #191919;
    border: 2px solid #9B0000;
    border-radius: 23px;
    text-align: center;
}

.services .container .serv3 .icone{
    color:var(--orange)
}

.portfolio h1{
    font-size: 40px;
    text-align: center;
    color: var(--red    );
    margin-top: 200px;
    margin-bottom: 100px;
}

.portfolio .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.portfolio .container .quadrado1{
    box-sizing: border-box;
    width: 30%;
    height: 430px;
    left: 51px;
    top: 1921px;
    background: url(servidores.jpg);
    border: 4px solid var(--orange);
    border-radius: 10px;
    text-align: center;
}
.portfolio .container .quadrado1 img{
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 3px solid var(--darker-red);
    justify-content: center;
    margin-top: 30px;
}

.portfolio .container .quadrado2{
    box-sizing: border-box;
    width: 30%;
    height: 430px;
    left: 51px;
    top: 1921px;
    background: url(servidores.jpg);
    border: 4px solid var(--orange);
    border-radius: 10px;
    text-align: center;
}

.portfolio .container .quadrado2 img{
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 3px solid var(--darker-red);
    justify-content: center;
    margin-top: 30px;
}

.portfolio .container .quadrado3{
    box-sizing: border-box;
    width: 30%;
    height: 430px;
    left: 51px;
    top: 1921px;
    background: url(servidores.jpg);
    border: 4px solid var(--orange);
    border-radius: 10px;
    text-align: center;
}

.portfolio .container .quadrado3 img{
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 3px solid var(--darker-red);
    justify-content: center;
    margin-top: 30px;
}


.curriculo h1{
    font-size: 40px;
    text-align: center;
    color: var(--red    );
    margin-top: 200px;
    margin-bottom: 100px;
}

.curriculo .container{
    display: flex;
}

.curriculo .container img{
    margin-left: 70px;
    margin-right: 70px;
}

.curriculo .container .textos p{
    justify-content: space-around;
    margin-bottom: 30px;
    color: var(--sand)
}

.contato h1{
    font-size: 40px;
    text-align: center;
    color: var(--red    );
    margin-top: 200px;
    margin-bottom: 100px;
}

.contato .container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contato .container p{
    font-size: 18px;
    color: var(--sand);
    text-align: center;
    margin-bottom: 20px;
}

.contato .container button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.contato .container .icone{
    color: var(--sand);
    margin-bottom: 80px;
}




/*Resposividade para tablet*/
@media (max-width:767px){

    header .container{
        width: 70%;
        padding: 0 48px;
        flex-direction: column;
        text-align: center;
        margin-left: 15%;
    }
    
    header .container h2{
        margin-top: -300px;
    }

    header .container img{
        height: 110px;
        margin-bottom: 90px;
    }
    
    nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 75px;
        padding: 0 50px;
        position: sticky;
        top: 0;
        margin-bottom: 100px;
        z-index: 1;
    
    }
    
    nav .svg{
        display: none;
    }
    
    nav img{
        height: 90px;
    }
    
    nav ul a{
        font-size: 24px;
        color: var(--sand);
        text-decoration: none;
        margin: 0 35px;
    }

    
    
    .about-me{
        display: flex;
        flex-direction: column;
        width:fit-content;
        align-items: center;
    }

    .about-me h1{
        text-align: center;
        font-size:40px;
        color: var(--shine-red);
        margin-left:30%;
        margin-bottom: 100px;
    }

    .about-me .container p{
        margin-left: 30%;
        width: fit-content;
    }

    .about-me .img-container{  
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    
    .about-me .img-container .imagem{
        height: 350px;
        width: 300px;   
        margin-top: -45px;
    
    }
    
    .about-me .img-container .imagem img{
        width: 70%;
        height: 90%;
        margin-left: -30%;
        margin-top: -110px;
    }
    
    .about-me .img-container .retangulos{
        height: 360px;
        width: 305px;
        margin-left: 3%;
    }
    
    .about-me .img-container .retangulos img{
        width: 100%;
        height: 100%;
        margin-top: 56%;
    
    }

    .services .container{
        margin-left: 50% ;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
    }   

    .portfolio .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curriculo .container{
        display: flex;
        flex-direction: column;
        margin-left: 50%;
    }
    
    .curriculo .container img{
        height: 300px;
        width: 85%;
        margin-left: -50%;
    }
    
    .curriculo .container .textos p{
        justify-content: column;
        margin-bottom: 30px;
        color: var(--sand);
        margin-left: -50%;
    }

    .contato h1{
        font-size: 40px;
        text-align: center;
        color: var(--red    );
        margin-top: 200px;
        margin-bottom: 100px;
        margin-left: 0%;
    }
    
    .contato .container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contato .container p{
        font-size: 18px;
        color: var(--sand);
        text-align: center;
        margin-bottom: 20px;
        width: 50%;
        margin-left: 0%;
    }
    
    .contato .container button{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left:0%;
    }
    
    .contato .container .icone{
        color: var(--sand);
        margin-bottom: 80px;
        margin-left: 0%;
    }

}


/* Quando a tela for abaixo de 480px*/
@media (max-width: 480px){

    header .container{
        width: 100%;
        margin-top: -3px;
        padding: 0 48px;
        flex-direction: column;
        text-align: center;
    }
    
    header .container h1{
        margin-bottom: 9px;
        margin-left: 50%;
    }

    header .container h2{
        margin-top: 25px;
        margin-left: 50%;
    }

    header .container p{
        margin-bottom: 50px;
        margin-left: 50%;
    }

    header .container button{
        height: 30%;
        margin-bottom: 100%;
        margin-left: 50%;
    }

    nav img{
        display:none;
    }

    nav .text{
        display:none;
    } 

    nav .svg{
        display:flex;
        justify-content: space-between;
    }

    nav {
        justify-content: center;
        position: fixed;
        width:100%;
        bottom:0;  
        top: unset;
    }

    nav ul a svg{
        color: var(--sand)
    }
    


    .about-me{
        display: flex;
        flex-direction: column;
        width:fit-content;
        align-items: center;
        margin-left: 55px;
        margin-top: -80px;
    }

    .about-me h1{
        text-align: center;
        font-size:40px;
        color: var(--shine-red);
        margin-left:30%;
        margin-bottom: 100px;
    }

    .about-me .container p{
        margin-left: 30%;
        width: fit-content;
    }

    .about-me .img-container{  
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    
    .about-me .img-container .imagem{
        height: 350px;
        width: 300px;   
        margin-top: -45px;
    
    }
    
    .about-me .img-container .imagem img{
        width: 70%;
        height: 90%;
        margin-left: -30%;
        margin-top: -110px;
    }
    
    .about-me .img-container .retangulos{
        height: 360px;
        width: 305px;
        margin-left: 3%;
    }
    
    .about-me .img-container .retangulos img{
        width: 100%;
        height: 100%;
        margin-top: 56%;
    
    }

    .services{
        width: 100%;
    }
    .services h1{
        margin-left: 50% ;
    }
    .services .container{
        margin-left: 50% ;
        flex-direction: column;
        align-items: center;
    }


    .portfolio .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio h1{
        margin-left: 50%;
    }

    .portfolio .container .quadrado1{
        height: 400px;
        width: 200px;
        text-align: center;
        font-size: 15px;
        margin-left: 50%;
    }
    
    .portfolio .container .quadrado1 img{
        margin-left: 6px;   
    }   

    .portfolio .container .quadrado2{
        height: 400px;
        width: 200px;
        text-align: center;
        font-size: 15px;
        margin-left: 50%;
    }
    
    .portfolio .container .quadrado2 img{
        margin-left: 6px;
    }   

    .portfolio .container .quadrado3{
        height: 400px;
        width: 200px;
        text-align: center;
        font-size: 15px;
        margin-left: 50%;
    }
    
    .portfolio .container .quadrado3 img{
        margin-left: 6px;
    }   

    .curriculo h1{
        font-size: 40px;
        text-align: center;
        color: var(--red  );
        margin-top: 200px;
        margin-bottom: 100px;
        margin-left: 50%;
    }
    
    .curriculo .container{
        display: flex;
        flex-direction: column;
        margin-left: 50%;
    }
    
    .curriculo .container img{
        height: 300px;
        width: 85%;
        margin-left: -10px;
    }
    
    .curriculo .container .textos p{
        justify-content: column;
        margin-bottom: 30px;
        color: var(--sand)
    }

    .contato h1{
        font-size: 40px;
        text-align: center;
        color: var(--red    );
        margin-top: 200px;
        margin-bottom: 100px;
        margin-left: 30%;
    }
    
    .contato .container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contato .container p{
        font-size: 18px;
        color: var(--sand);
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30%;
    }
    
    .contato .container button{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left:30%;
    }
    
    .contato .container .icone{
        color: var(--sand);
        margin-bottom: 80px;
        margin-left: 30%;
    }
}

